{{template "layout" .}}
{{define "content"}}
<article>
    <a href="/">&larr; Back to recipes</a>
    <label class="wake-lock-toggle">
        <input type="checkbox" id="wake-lock-toggle" onchange="toggleWakeLock(this.checked)">
        Keep screen on
    </label>
    {{if .Recipe.Image}}
    <img src="/static/img/recipes/{{.Recipe.Image}}" alt="{{.Recipe.Title}}" class="recipe-hero">
    {{end}}
    <div class="recipe-detail">
        {{.Content}}
    </div>
    {{if .Recipe.SourceURL}}
    <div class="recipe-source">
        Recipe originally from <a href="{{.Recipe.SourceURL}}" target="_blank" rel="noopener noreferrer">{{.Recipe.SourceURL}}</a>
    </div>
    {{end}}
    {{if .Recipe.Tags}}
    <div class="tags">
        {{range .Recipe.Tags}}<a href="/tags/{{.}}" class="tag">{{.}}</a>{{end}}
    </div>
    {{end}}
</article>
{{end}}
